body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-container{
    display: flex;
    padding: 5% 10%;
}

.orange{
    color: rgba(255,173,90,255);
    
}

.top{
    font-family: 'Merriweather', serif;
    border-left: 4px solid;
    padding-left: 3%;
    border-image: linear-gradient(rgba(255,89,89,255), rgba(255,103,103,255));
    border-image-slice: 1;
}

.half{
    width: 50%;
    
}

.half img{
    width: 70%;
    display: block;
    margin: 0 auto;
}

.button{
    background-color: rgba(255,89,89,255);
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 2% 0 10%;
    padding: 3%;
    border-radius: 10px;
}

.center{
    text-align: center;
    width: 100%;
}

.mission-container{
    display: flex;
    background-image: url(images/shapes/dot-grid-paper-graph-paper-cm-white-background-vector-illustration-dot-grid-paper-graph-paper-cm-white-background-vector-133422658.jpg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: bottom right;
    padding: 0 10% 10%;
}

.mission-content{
    padding: 3% 5%;
    border-radius: 15px;
    margin: 0 2%;
}

.mission-content img{
    padding-top: 5%;
    width: 30%;
    height: 100%;
}

.mission-img{
    height: 20%;
}

.mission-text{
    height: 50%;
}

#mission{
    background-color: rgba(237,245,246,255);
    margin-left: 0;
}

#vission{
    background-color: rgba(255,238,238,255);
}

#goals{
    background-color: rgba(255,244,214,255);
    margin-right: 0;
}

.developer-container{
    display: flex;
    padding: 0 10% 10%;
    background-image: url(images/shapes/shape-1.png), url(images/shapes/dot-grid-paper-graph-paper-cm-white-background-vector-illustration-dot-grid-paper-graph-paper-cm-white-background-vector-133422658.jpg);
    background-repeat: no-repeat;
    background-position: 5% 10%, bottom left;
    background-size: 15%, 10%;   
}

.pic{
    width: 40%;
}

.developer-container img{
    width: 90%;
}

.text{
    width: 60%;
}

.community-container{
    display: flex;
    padding: 0 10% 10%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 95% 95%;
    background-size: 15%;   
}

#community-text{
    padding: 0 5% 0 0;
}

.community-container img{
    width: 90%;
}

.app-container{
    display: flex;
    padding: 0 10% 5%;
    background-image: url(images/shapes/shape-8.png), url(images/shapes/shape-9.png), url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-position: 90% 70%, 85% 5%, 50% 0;
    background-size: 10%, 5%, 15%;
}

.app-container img{
    width: 70%;
    display: block;
    margin: 0 auto;
}

footer{
    color: white;
    background-color: rgba(11,13,23,255);
    margin: 0;
    padding: 2%;
}

footer p{
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
}

footer h2{
    margin: 0;
    font-family: 'Vujahday Script', cursive;
}

footer span{
    color: rgba(255,89,89,255);
}