body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-container{
    display: flex;
}

.orange{
    color: rgba(255,173,90,255);
    
}

.top{
    font-family: 'Merriweather', serif;
    border-left: 4px solid;
    padding-left: 3%;
    border-image: linear-gradient(rgba(255,89,89,255), rgba(255,103,103,255));
    border-image-slice: 1;
}

.half{
    width: 50%;
    padding: 5% 10%;
}

.half img{
    width: 70%;
    display: block;
    margin: 0 auto;
}

.button{
    background-color: rgba(255,89,89,255);
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 2% 0 10%;
    padding: 3%;
    border-radius: 10px;
}

.center{
    text-align: center;
    width: 100%;
}

.mission-container{
    display: flex;
    background-image: url(images/dot-grid-paper-graph-paper-cm-white-background-vector-illustration-dot-grid-paper-graph-paper-cm-white-background-vector-133422658.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom right;
    padding: 10%;
}

.mission-content{
    padding: 0 5%;
    border-radius: 15px;
    margin: 0 2%;
}

#mission{
    background-color: rgba(237,245,246,255);
    margin-left: 0;
}

#vission{
    background-color: rgba(255,238,238,255);
}

#goals{
    background-color: rgba(255,244,214,255);
    margin-right: 0;
}

.developer-container{
    display: flex;
    padding: 10%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 300px;
    background-position-x: 5%;
}

.pic{
    width: 40%;
}

.developer-container img{
    width: 90%;
}

.text{
    width: 60%;
    padding: 0 0 0 10%;
}